In [1]:
import pandas as pd

df = pd.read_csv("california-data.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household,INLAND,NEAR BAY,<1H OCEAN,NEAR OCEAN,ISLAND
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,6.984127,0.146591,2.555556,0.0,1.0,0.0,0.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,6.238137,0.155797,2.109842,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,8.288136,0.129516,2.802260,1.0,0.0,0.0,0.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,5.817352,0.184458,2.547945,1.0,0.0,0.0,0.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,6.281853,0.172096,2.181467,1.0,0.0,0.0,0.0,0.0

#### Note:- 	 INLAND	 NEAR BAY	<1H OCEAN	NEAR OCEAN	ISLAND is clubed into one column call Ocean_proximity

In [2]:
for i,j in enumerate(df):
    print(i,j)

0 longitude
1 latitude
2 housing_median_age
3 total_rooms
4 total_bedrooms
5 population
6 households
7 median_income
8 median_house_value
9 rooms_per_household
10 bedrooms_per_room
11 population_per_household
12 INLAND
13 NEAR BAY
14 <1H OCEAN
15 NEAR OCEAN
16 ISLAND

#### Here is the list of maximum and minimum values of the columns

In [3]:
print("longitude max val: ",df["longitude"].max())
print("longitude min val: ",df["longitude"].min())
print("latitude max val: ",df["latitude"].max())
print("latitude min val: ",df["latitude"].min())
print("housing_median_age max val: ",df["housing_median_age"].max())
print("housing_median_age min val: ",df["housing_median_age"].min())
print("total_rooms max val: ",df["total_rooms"].max())
print("total_rooms min val: ",df["total_rooms"].min())
print("total_bedrooms max val: ",df["total_bedrooms"].max())
print("total_bedrooms min val: ",df["total_bedrooms"].min())
print("population max val: ",df["population"].max())
print("population min val: ",df["population"].min())
print("households max val: ",df["households"].max())
print("households min val: ",df["households"].min())
print("median_income max val: ",df["median_income"].max())
print("median_income min val: ",df["median_income"].min())
print("median_house_value max val: ",df["median_house_value"].max())
print("median_house_value min val: ",df["median_house_value"].min())
print("rooms_per_household max val: ",df["rooms_per_household"].max())
print("rooms_per_household min val: ",df["rooms_per_household"].min())
print("bedrooms_per_household max val: ",df["bedrooms_per_room"].max())
print("bedrooms_per_household min val: ",df["bedrooms_per_room"].min())
print("population_per_household max val: ",df["population_per_household"].max())
print("population_per_household min val: ",df["population_per_household"].min())

longitude max val:  -114.31
longitude min val:  -124.35
latitude max val:  41.95
latitude min val:  32.54
housing_median_age max val:  52.0
housing_median_age min val:  1.0
total_rooms max val:  39320.0
total_rooms min val:  2.0
total_bedrooms max val:  6445.0
total_bedrooms min val:  1.0
population max val:  35682.0
population min val:  3.0
households max val:  6082.0
households min val:  1.0
median_income max val:  15.0001
median_income min val:  0.4999
median_house_value max val:  500001.0
median_house_value min val:  14999.0
rooms_per_household max val:  141.9090909090909
rooms_per_household min val:  0.8461538461538461
bedrooms_per_household max val:  1.0
bedrooms_per_household min val:  0.1
population_per_household max val:  1243.3333333333333
population_per_household min val:  0.6923076923076923

In [10]:
#df[["rooms_per_household","bedrooms_per_room","population_per_household"]].astype(np.int64)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20640 entries, 0 to 20639
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 20640 non-null  float64
 1   latitude                  20640 non-null  float64
 2   housing_median_age        20640 non-null  float64
 3   total_rooms               20640 non-null  float64
 4   total_bedrooms            20433 non-null  float64
 5   population                20640 non-null  float64
 6   households                20640 non-null  float64
 7   median_income             20640 non-null  float64
 8   median_house_value        20640 non-null  float64
 9   rooms_per_household       20640 non-null  float64
 10  bedrooms_per_room         20433 non-null  float64
 11  population_per_household  20640 non-null  float64
 12  INLAND                    16512 non-null  float64
 13  NEAR BAY                  16512 non-null  float64
 14  <1H OCEAN                 16512 non-null  float64
 15  NEAR OCEAN                16512 non-null  float64
 16  ISLAND                    16512 non-null  float64
dtypes: float64(17)
memory usage: 2.8 MB

In [11]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "median")
imputer.fit(df)

SimpleImputer(strategy='median')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20640 entries, 0 to 20639
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 20640 non-null  float64
 1   latitude                  20640 non-null  float64
 2   housing_median_age        20640 non-null  float64
 3   total_rooms               20640 non-null  float64
 4   total_bedrooms            20433 non-null  float64
 5   population                20640 non-null  float64
 6   households                20640 non-null  float64
 7   median_income             20640 non-null  float64
 8   median_house_value        20640 non-null  float64
 9   rooms_per_household       20640 non-null  float64
 10  bedrooms_per_room         20433 non-null  float64
 11  population_per_household  20640 non-null  float64
 12  INLAND                    16512 non-null  float64
 13  NEAR BAY                  16512 non-null  float64
 14  <1H OCEAN                 16512 non-null  float64
 15  NEAR OCEAN                16512 non-null  float64
 16  ISLAND                    16512 non-null  float64
dtypes: float64(17)
memory usage: 2.8 MB

In [14]:
df_trans = imputer.transform(df)
df_trans

array([[-122.23,   37.88,   41.  , ...,    0.  ,    0.  ,    0.  ],
       [-122.22,   37.86,   21.  , ...,    0.  ,    1.  ,    0.  ],
       [-122.24,   37.85,   52.  , ...,    0.  ,    0.  ,    0.  ],
       ...,
       [-121.22,   39.43,   17.  , ...,    0.  ,    0.  ,    0.  ],
       [-121.32,   39.43,   18.  , ...,    0.  ,    0.  ,    0.  ],
       [-121.24,   39.37,   16.  , ...,    0.  ,    0.  ,    0.  ]])

In [16]:
df = pd.DataFrame(df_trans,columns = list(df.columns))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 20640 non-null  float64
 1   latitude                  20640 non-null  float64
 2   housing_median_age        20640 non-null  float64
 3   total_rooms               20640 non-null  float64
 4   total_bedrooms            20640 non-null  float64
 5   population                20640 non-null  float64
 6   households                20640 non-null  float64
 7   median_income             20640 non-null  float64
 8   median_house_value        20640 non-null  float64
 9   rooms_per_household       20640 non-null  float64
 10  bedrooms_per_room         20640 non-null  float64
 11  population_per_household  20640 non-null  float64
 12  INLAND                    20640 non-null  float64
 13  NEAR BAY                  20640 non-null  float64
 14  <1H OCEAN                 20640 non-null  float64
 15  NEAR OCEAN                20640 non-null  float64
 16  ISLAND                    20640 non-null  float64
dtypes: float64(17)
memory usage: 2.7 MB

In [17]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household,INLAND,NEAR BAY,<1H OCEAN,NEAR OCEAN,ISLAND
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,6.984127,0.146591,2.555556,0.0,1.0,0.0,0.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,6.238137,0.155797,2.109842,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,8.288136,0.129516,2.802260,1.0,0.0,0.0,0.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,5.817352,0.184458,2.547945,1.0,0.0,0.0,0.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,6.281853,0.172096,2.181467,1.0,0.0,0.0,0.0,0.0

In [18]:
df[["rooms_per_household","bedrooms_per_room","population_per_household"]].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 20640 non-null  float64
 1   latitude                  20640 non-null  float64
 2   housing_median_age        20640 non-null  float64
 3   total_rooms               20640 non-null  float64
 4   total_bedrooms            20640 non-null  float64
 5   population                20640 non-null  float64
 6   households                20640 non-null  float64
 7   median_income             20640 non-null  float64
 8   median_house_value        20640 non-null  float64
 9   rooms_per_household       20640 non-null  float64
 10  bedrooms_per_room         20640 non-null  float64
 11  population_per_household  20640 non-null  float64
 12  INLAND                    20640 non-null  float64
 13  NEAR BAY                  20640 non-null  float64
 14  <1H OCEAN                 20640 non-null  float64
 15  NEAR OCEAN                20640 non-null  float64
 16  ISLAND                    20640 non-null  float64
dtypes: float64(17)
memory usage: 2.7 MB

In [19]:
print("rooms_per_household max val: ",round(df["rooms_per_household"].max(),0))
print("rooms_per_household min val: ",round(df["rooms_per_household"].min(),0))
print("bedrooms_per_household max val: ",round(df["bedrooms_per_room"].max(),0))
print("bedrooms_per_household min val: ",round(df["bedrooms_per_room"].min(),0))
print("population_per_household max val: ",round(df["population_per_household"].max(),0))
print("population_per_household min val: ",round(df["population_per_household"].min(),0))

rooms_per_household max val:  142.0
rooms_per_household min val:  1.0
bedrooms_per_household max val:  1.0
bedrooms_per_household min val:  0.0
population_per_household max val:  1243.0
population_per_household min val:  1.0